.container {
  display: flex;
  flex-wrap: wrap;

}

.cards-container{
  flex: 0 0 60%;
}

.map-container{
  flex: 0 0 40%;
}

#map {
  height: 50vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 10px !important;
}
