<div class="banner text-center text-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.containerstore.com/medialibrary/images/elfa/landingPage/2014Updates/elfa_landing_best_selling.jpg');">
  <div class="banner-content">
    <h1>Dans nos @rmoires</h1>
    <p>Le vide dressing tendance chic</p>
    <%= link_to "Fouiller dans les @rmoires", products_path, class: "btn btn-danger" %>
