    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <ul class="list-inline">
              <li><a href=""><i class="fa fa-youtube"></i></a></li>
              <li><a href="https://www.instagram.com/lesarmoiresdeparis/"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/pg/lesarmoiresdeparis"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-8 text-right">
            <p>Ce site est la propriété des @ArmoiresDeParis</p>
          </div>
        </div>
      </div>
    </div>
